@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <title>尹逸朋的个人博客——主题《如影随形》</title>
    <meta name="keywords" content="尹逸朋的个人博客式" />
    <meta name="description" content="如影随形主题的个人博客。" />
    <link href="../Content/base.css" rel="stylesheet">
    <link href="../Content/about.css" rel="stylesheet">
    <link href="../Content/media.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
    <div class="ibody">
        <header>
            <h1>如影随形</h1>
            <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
            <div class="logo"><a href="/"></a></div>
            <nav id="topnav"><a href="/Home/Index">首页</a><a href="/Home/About">关于我</a><a href="/Home/Slive">慢生活</a><a href="/Home/Share">资源分享</a><a href="/Home/Message">留言</a></nav>
        </header>
        <article>
            <h3 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="#">关于我</a></h3>
            <div class="about">
                <h2>Just about me</h2>
                <ul>
                    <p>尹逸朋，男，一个90后大学生！12年开始学习编程，至今已经有三四年。几年来，我从一个对电脑除了玩游戏一无所知的“电脑盲”，变成了如今可以独立开发这个博客系统的半吊子程序员。大学的生活，总是能满足大家各种各样的需求，我也曾经彷徨过，迷茫过，坚定过，奋斗过...对于如今的成长，内心五味陈杂，至少努力过，对得起自己无悔的青春</p>
                    <p> 人生就是一个得与失的过程，而现实让我从来不相信自己的运气。我只相信一切的一切，如果不是上天的赐予，那么就只能是靠自己的智慧和力量来获得。刚开始接触编程的时候，对字母不感冒的我，对自己的未来充满了忧虑。好在我在大学最好的朋友--一个积极努力进取的人，对编程很感兴趣并且时刻都在学习，久而久之，让我对计算机世界有了新的认识，并产生了兴趣...</p>
                    <p></p>
                    <p></p>
                </ul>
                <h2>About my blog</h2>
                <ul class="blog_a">
                    <p>域  名：www.yinyipeng.com 创建于2015年08月25日 <a href="http://www.net.cn/domain/" class="blog_link" target="_blank">注册域名</a><a class="blog_link" href="http://koubei.baidu.com/womc/s/www.yangqq.com" target="_blank">邀你点评</a></p>
                    <p>服务器：阿里云服务器<a href="http://www.aliyun.com/product/ecs/?ali_trackid=2:mm_11085263_4976026_15602229:1389838528_3k2_34164590" class="blog_link" target="_blank">购买空间</a><a href="/jstt/web/2014-01-18/644.html" target="_blank" class="blog_link">参考我的空间配置</a></p>
                    <p>程  序：ASP.NET MVC 帝国CMS7.0</p>
                    <p>微信号：578621645</p>
                </ul>
            </div>
        </article>
        <aside>
            <div class="avatar"><a href="/Home/About"><span>关于尹逸朋</span></a></div>
            <div class="topspaceinfo">
                <h1>执子之手，与子偕老</h1>
                <p>于千万人之中，我遇见了我所遇见的人....</p>
            </div>
            <div class="about_c">
                <p>网名：梦里梦到他梦她</p>
                <p>职业：asp.net、php程序员 </p>
                <p>籍贯：黑龙江省-哈尔滨市</p>
                <p>电话：18845296347</p>
                <p>邮箱：yin9964857@vip.qq.com</p>
                <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=HHh9cn95b3F1cHVye1xtbTJ-c3E"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_22.png" alt="杨青个人博客网站"></a></p>
                <p>
                    <!--以下是QQ邮件列表订阅嵌入代码--><a target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=65fb9b3618916f162973471ebc5b97ff786efae0ec9a863e"><img border="0" alt="填写您的邮件地址，订阅我们的精彩内容：" src="http://rescdn.list.qq.com/zh_CN/htmledition/images/qunfa/manage/picMode_light_m.png" /></a>
                </p>
            </div>
        </aside>
        <script src="../Scripts/silder.js"></script>
        <div class="clear"></div>
        <!-- 清除浮动 -->
    </div>
</body>
</html>
