@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>错误。</h1>
        <h2>注册或登录或发布失败失败</h2>

    </div>
</body>
</html>